.vscode/**
.vscode-test/**
backend/src/**
backend/node_modules/**
backend/package.json
backend/tsconfig.json
node_modules/**
src/**
out/**
dist/**/*.map
**/*.ts
!dist/**/*.d.ts
.gitignore
.yarnrc
*.vsix
.github/**
.git/**
vite.config.ts
**/tsconfig.json
**/.eslintrc.json
**/*.map
.DS_Store
